<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="startimage.css">
</head>
<body>
    {{>navbar}}
   <h1> Register today!</h1>
   <div class="bottom-image">
            <!-- Image content -->
            <img src="https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg" alt="Bottom Half Image">
    </div>
</body>
</html>